{% extends 'layout.html' %}
{% block body %}
<form action='{{ url_for('create') }}' method='post' enctype="multipart/form-data">
	<div>
	<p>新建bug</p>
	<p>bug名：</p>
	<input name='name' type='text' style='width:300px'/>
	<p>bug描述：</p>
	<textarea name='description' cols="30" rows="2"></textarea>
	<p>创建者：</p>
	<input name='owner' type='text' style='width:300px'/>
	<p>bug详情：</p>
	<textarea name='details' cols="30" rows="5"></textarea>
	<br/>
	<p>上传截图</p>
	<input type='file' name='file' value='选择附件' />
	<br/>
	</div>	
	<div>
	<input type='submit' value='保存'/>
	</div>
</form>
{% endblock %}