{% extends 'layout.html' %}
{% block body %}
<form action='/update' method='post' enctype="multipart/form-data">
	<div>
	<input type="hidden" id='id' name="id" value="{{ post['_id'] }}" />
	<p>编辑bug</p>
	<p>bug名：</p>
	<input name='name' id='name' type='text' style='width:300px' value='{{ post['name'] }}'/>
	<p>bug描述：</p>
	<textarea name='description' id='description' cols="30" rows="2">{{ post['description'] }}</textarea>
	<p>创建者：</p>
	<input name='owner' id='owner' type='text' style='width:300px' value='{{ post['owner'] }}' />
	<p>bug详情：</p>
	<textarea name='details' id='details' cols="30" rows="5">{{ post['details'] }}</textarea>
	<br/>
	<p>上传截图</p>
	<input type='file' name='file' value='选择附件' />
	<br/>
	</div>	
	<div>
	<input type='submit' value='保存'/>
	</div>
</form>
{% endblock %}