{% extends 'layout.html' %}
{% block body %}
<div>
	{% if session.logged_in %}
		<a href='{{ url_for('create') }}'>新建bug</a>
	{% else %}
		<a href='{{ url_for('login') }}'>新建bug</a>
	{% endif %}
</div>
<div>
		<table border='1' width="1200px" frame='above'>
		<tr>
			<th>name</th>
			<th>bug描述</th>
			<th>创建者</th>
			<th>bug详情</th>
			<th>编辑</th>
			<th>删除</th>
		</tr>
		{% for bug in bugs %}
		<tr>
			<td>{{ bug['name'] }}</td>
			<td>{{ bug['description'] }}</td>
			<td>{{ bug['owner'] }}</td>
			<td>{{ bug['details'] }}</td>
			<td><form action='{{ url_for('edit',post_id=bug['_id']) }}'><input type='submit' value='编辑'/></form></td>
			<td><form action='{{ url_for('delete',post_id=bug['_id']) }}'><input type='submit' value='删除'/></form></td>
		</tr>
		{% endfor %}
		</table>
</div>
{% endblock %}